<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="sms_url" type="text" label="URL" default="http://"/>
    <setting id="username" type="text" label="Username" default=""/>
    <setting id="password" type="text" option="hidden" label="Password" default=""/>
    <setting id="audioquality" type="labelenum" label="Audio Quality" values="0 (Low)|1 (Medium)|2 (High)|3 (Lossless)" default="2 (High)"/>
    <setting id="maxsamplerate" type="labelenum" label="Max Sample Rate (Hz)" values="44100|48000|96000|192000" default="48000"/>
    <setting id="multichannel" type="bool" label="Enable Multichannel Audio" default="false"/>
    <setting id="directplay" type="bool" label="Enable Direct Play On Local Network" default="false"/>
</settings>
